html{
    font-size: 110%
    }

body{
    background-color: black;
    font-family: 'League Spartan', sans-serif;
    font-size: 110%
    }

.my-car{
    padding: 0;
    }

.my-car .carousel-item {
    display: flex;
    max-height: 920px;
    }

.my-car .carousel-item img {
    object-fit: cover;
    }

td  {
    vertical-align: middle;
    }

th  {
    vertical-align: middle;
    }

p   {
    color: white;
    }

p   {
  margin: 0 0 10px;
    }

p   {
  margin-top: 10px;
  margin-bottom: 1rem;
    }

h1 {
 color: white;
    }

h5  {
 color: white;
    }

.img-left {
   margin: 0 20px 10px 0;
   padding: 0;
   float: left;
    }

.img-right {
   margin: 0 0 10px 20px;
   padding: 0;
   float: right;
    }

